{% extends "home.html" %}
{% block content %}

<a href='{% url "proj"  %}' class="btn"> {{ project_name }}</a>
<a href='{% url "proj"  %}' class="btn"> {{ sequence_name }}</a>
<a href='{% url "proj"  %}' class="btn"> {{ project_name }}</a>

<div class="row row-cols-5">
  {% for task in tasks %}
  <div class="col">
    <div class="card" >
      <img src="https://robohash.org/{{ task }}" class="img-fluid rounded-start" alt="{{ task }}">
      <h1 class="btn"> {{ task.attrib }}</h1>
      <!-- <h6 > {{ task.priority }}</h6> -->

    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
